USE [master]
GO
/****** Object:  Database [OutpostDB]    Script Date: 14.12.2021 19:47:03 ******/
CREATE DATABASE [OutpostDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OutpostDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OutpostDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OutpostDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OutpostDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OutpostDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OutpostDB]
GO
USE [OutpostDB]
GO
/****** Object:  Sequence [dbo].[LOCATION_ID_SEQ]    Script Date: 14.12.2021 19:47:03 ******/
CREATE SEQUENCE [dbo].[LOCATION_ID_SEQ] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 999999
 CACHE  20 
GO
USE [OutpostDB]
GO
/****** Object:  Sequence [dbo].[PARCELLOCKER_ID_SEQ]    Script Date: 14.12.2021 19:47:03 ******/
CREATE SEQUENCE [dbo].[PARCELLOCKER_ID_SEQ] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 999999
 CACHE  20 
GO
USE [OutpostDB]
GO
/****** Object:  Sequence [dbo].[PARCELLOCKERTYPE_ID_SEQ]    Script Date: 14.12.2021 19:47:03 ******/
CREATE SEQUENCE [dbo].[PARCELLOCKERTYPE_ID_SEQ] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 999999
 CACHE  20 
GO
USE [OutpostDB]
GO
/****** Object:  Sequence [dbo].[PARCELTYPE_ID_SEQ]    Script Date: 14.12.2021 19:47:03 ******/
CREATE SEQUENCE [dbo].[PARCELTYPE_ID_SEQ] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 999999
 CACHE  20 
GO
USE [OutpostDB]
GO
/****** Object:  Sequence [dbo].[STATUS_ID_SEQ]    Script Date: 14.12.2021 19:47:03 ******/
CREATE SEQUENCE [dbo].[STATUS_ID_SEQ] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 999999
 CACHE  20 
GO
USE [OutpostDB]
GO
/****** Object:  Sequence [dbo].[USER_ID_SEQ]    Script Date: 14.12.2021 19:47:03 ******/
CREATE SEQUENCE [dbo].[USER_ID_SEQ] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 999999
 CACHE  20 
GO
USE [OutpostDB]
GO
/****** Object:  Sequence [dbo].[WAREHOUSE_ID_SEQ]    Script Date: 14.12.2021 19:47:03 ******/
CREATE SEQUENCE [dbo].[WAREHOUSE_ID_SEQ] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 999999
 CACHE  20 
GO
/****** Object:  Table [dbo].[PARCELLOCKERS]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARCELLOCKERS](
	[PARCELLOCKER_ID] [int] NOT NULL,
	[LOCATIONID] [int] NOT NULL,
	[TYPEID] [int] NOT NULL,
	[NAME] [varchar](10) NOT NULL,
 CONSTRAINT [PARCELLOCKERS_PK] PRIMARY KEY CLUSTERED 
(
	[PARCELLOCKER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARCELS]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARCELS](
	[CODE] [varchar](24) NOT NULL,
	[TYPEID] [int] NOT NULL,
	[COURIERID] [int] NULL,
	[SENDERID] [int] NOT NULL,
	[PARCELLOCKERID] [int] NULL,
	[DESTINATIONPARCELLOCKERID] [int] NOT NULL,
	[WAREHOUSEID] [int] NULL,
	[SENTDATE] [date] NULL,
	[STATUSID] [int] NOT NULL,
	[PICKUPCODE] [int] NOT NULL,
	[LOCKERNUMBER] [int] NULL,
 CONSTRAINT [PARCELS_PK] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARCELTYPES]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARCELTYPES](
	[PARCELTYPE_ID] [int] NOT NULL,
	[NAME] [varchar](10) NOT NULL,
	[WIDTH] [int] NOT NULL,
	[LENGTH] [int] NOT NULL,
	[HEIGHT] [int] NOT NULL,
	[MAXWEIGHT] [int] NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[COST] [int] NOT NULL,
 CONSTRAINT [PARCELTYPES_PK] PRIMARY KEY CLUSTERED 
(
	[PARCELTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUSES]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUSES](
	[STATUS_ID] [int] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[STAGE] [int] NOT NULL,
 CONSTRAINT [STATUSES_PK] PRIMARY KEY CLUSTERED 
(
	[STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CLIENTPARCELVIEW]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CLIENTPARCELVIEW]
	AS SELECT PARCELS.CODE AS "CODE", PARCELTYPES.NAME AS "TYPE", STATUSES.NAME AS "STATUS", 
        PARCELLOCKERS.NAME AS "CURRENT PARCEL LOCKER", PARCELS.SENTDATE AS "SENT DATE"
    
 	FROM PARCELS
 	JOIN PARCELTYPES ON parceltypes.parceltype_id=parcels.typeid
 	JOIN STATUSES ON statuses.status_id = parcels.statusid
 	JOIN PARCELLOCKERS ON PARCELLOCKERS.PARCELLOCKER_ID = PARCELS.PARCELLOCKERID;
GO
/****** Object:  Table [dbo].[WAREHOUSES]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSES](
	[WAREHOUSE_ID] [int] NOT NULL,
	[LOCATIONID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
 CONSTRAINT [WAREHOUSES_PK] PRIMARY KEY CLUSTERED 
(
	[WAREHOUSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[COURIERPARCELVIEW]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[COURIERPARCELVIEW]
  	AS SELECT PARCELS.CODE AS "CODE", PARCELTYPES.NAME AS "TYPE", PARCELTYPES.PRIORITY AS "PRIORITY", 
        PARCELLOCKERS.NAME AS "DESTINATION PARCEL LOCKER", WAREHOUSES.WAREHOUSE_ID AS "WAREHOUSE ID",
        PARCELS.SENTDATE AS "SENT DATE"
    
 	FROM PARCELS
 	JOIN PARCELTYPES ON parceltypes.parceltype_id=parcels.typeID
 	JOIN PARCELLOCKERS ON PARCELLOCKERS.PARCELLOCKER_ID = PARCELS.DESTINATIONPARCELLOCKERID
    	JOIN WAREHOUSES ON WAREHOUSES.WAREHOUSE_ID = PARCELS.WAREHOUSEID;
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] NOT NULL,
	[FIRSTNAME] [varchar](50) NOT NULL,
	[LASTNAME] [varchar](50) NOT NULL,
	[LOGIN] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[PHONENUMBER] [int] NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[USERTYPE] [varchar](20) NOT NULL,
 CONSTRAINT [USERS_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PERSONALVIEW]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[PERSONALVIEW]
	AS SELECT USERS.FIRSTNAME AS "FIRST NAME", USERS.LASTNAME AS "LAST NAME", USERS.PHONENUMBER AS "PHONE NUMBER", 
        USERS.EMAIL AS "EMAIL", USERS.LOGIN AS "LOGIN", USERS.PASSWORD AS "PASSWORD"
    
 	FROM USERS;
GO
/****** Object:  Table [dbo].[LOCATIONS]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATIONS](
	[LOCATION_ID] [int] NOT NULL,
	[CITY] [varchar](50) NOT NULL,
	[STREET] [varchar](200) NOT NULL,
	[NEARESTBUILDINGNUMBER] [int] NOT NULL,
	[POSTCODE] [int] NOT NULL,
 CONSTRAINT [LOCATIONS_PK] PRIMARY KEY CLUSTERED 
(
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGS]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGS](
	[CODE] [varchar](24) NOT NULL,
	[TYPEID] [int] NOT NULL,
	[COURIERID] [int] NULL,
	[SENDERID] [int] NOT NULL,
	[PARCELLOCKERID] [int] NULL,
	[DESTINATIONPARCELLOCKERID] [int] NOT NULL,
	[WAREHOUSEID] [int] NULL,
	[SENTDATE] [date] NULL,
	[STATUSID] [int] NOT NULL,
	[PICKUPCODE] [int] NOT NULL,
	[LOCKERNUMBER] [int] NULL,
	[OPERATION] [varchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARCELLOCKERTYPES]    Script Date: 14.12.2021 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARCELLOCKERTYPES](
	[PARCELLOCKERTYPE_ID] [int] NOT NULL,
	[NAME] [varchar](20) NOT NULL,
	[SIZEALOCKERS] [int] NOT NULL,
	[SIZEBLOCKERS] [int] NOT NULL,
	[SIZECLOCKERS] [int] NOT NULL,
 CONSTRAINT [PARCELLOCKERTYPES_PK] PRIMARY KEY CLUSTERED 
(
	[PARCELLOCKERTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOCATIONS] ([LOCATION_ID], [CITY], [STREET], [NEARESTBUILDINGNUMBER], [POSTCODE]) VALUES (1, N'Wroclaw', N'Wiejska', 21, 21398)
INSERT [dbo].[LOCATIONS] ([LOCATION_ID], [CITY], [STREET], [NEARESTBUILDINGNUMBER], [POSTCODE]) VALUES (2, N'Wroclaw', N'Bycza', 2, 12319)
INSERT [dbo].[LOCATIONS] ([LOCATION_ID], [CITY], [STREET], [NEARESTBUILDINGNUMBER], [POSTCODE]) VALUES (3, N'Warszawa', N'MIKOLAJA REJA', 12, 81723)
GO
INSERT [dbo].[LOGS] ([CODE], [TYPEID], [COURIERID], [SENDERID], [PARCELLOCKERID], [DESTINATIONPARCELLOCKERID], [WAREHOUSEID], [SENTDATE], [STATUSID], [PICKUPCODE], [LOCKERNUMBER], [OPERATION]) VALUES (N'1231', 1, 1, 1, 1, 1, 1, CAST(N'2021-12-06' AS Date), 1, 1, 1, N'Insert')
INSERT [dbo].[LOGS] ([CODE], [TYPEID], [COURIERID], [SENDERID], [PARCELLOCKERID], [DESTINATIONPARCELLOCKERID], [WAREHOUSEID], [SENTDATE], [STATUSID], [PICKUPCODE], [LOCKERNUMBER], [OPERATION]) VALUES (N'1231', 1, 1, 1, 1, 1, 1, CAST(N'2021-12-06' AS Date), 1, 1, 1, N'Delete')
INSERT [dbo].[LOGS] ([CODE], [TYPEID], [COURIERID], [SENDERID], [PARCELLOCKERID], [DESTINATIONPARCELLOCKERID], [WAREHOUSEID], [SENTDATE], [STATUSID], [PICKUPCODE], [LOCKERNUMBER], [OPERATION]) VALUES (N'1', 1, 1, 1, 1, 2, 1, CAST(N'2021-12-07' AS Date), 1, 123, 1, N'Insert')
GO
INSERT [dbo].[PARCELLOCKERS] ([PARCELLOCKER_ID], [LOCATIONID], [TYPEID], [NAME]) VALUES (1, 1, 1, N'WRO1')
INSERT [dbo].[PARCELLOCKERS] ([PARCELLOCKER_ID], [LOCATIONID], [TYPEID], [NAME]) VALUES (2, 2, 2, N'WRO2')
INSERT [dbo].[PARCELLOCKERS] ([PARCELLOCKER_ID], [LOCATIONID], [TYPEID], [NAME]) VALUES (3, 3, 3, N'WAR1')
GO
INSERT [dbo].[PARCELLOCKERTYPES] ([PARCELLOCKERTYPE_ID], [NAME], [SIZEALOCKERS], [SIZEBLOCKERS], [SIZECLOCKERS]) VALUES (1, N'Small', 20, 10, 5)
INSERT [dbo].[PARCELLOCKERTYPES] ([PARCELLOCKERTYPE_ID], [NAME], [SIZEALOCKERS], [SIZEBLOCKERS], [SIZECLOCKERS]) VALUES (2, N'Medium', 30, 40, 20)
INSERT [dbo].[PARCELLOCKERTYPES] ([PARCELLOCKERTYPE_ID], [NAME], [SIZEALOCKERS], [SIZEBLOCKERS], [SIZECLOCKERS]) VALUES (3, N'Big', 30, 50, 40)
GO
INSERT [dbo].[PARCELS] ([CODE], [TYPEID], [COURIERID], [SENDERID], [PARCELLOCKERID], [DESTINATIONPARCELLOCKERID], [WAREHOUSEID], [SENTDATE], [STATUSID], [PICKUPCODE], [LOCKERNUMBER]) VALUES (N'1A-2121', 1, 1, 1, 1, 1, 1, NULL, 1, 123, NULL)
INSERT [dbo].[PARCELS] ([CODE], [TYPEID], [COURIERID], [SENDERID], [PARCELLOCKERID], [DESTINATIONPARCELLOCKERID], [WAREHOUSEID], [SENTDATE], [STATUSID], [PICKUPCODE], [LOCKERNUMBER]) VALUES (N'2B-4242', 1, 1, 1, 1, 1, 1, NULL, 1, 123, NULL)
GO
INSERT [dbo].[PARCELTYPES] ([PARCELTYPE_ID], [NAME], [WIDTH], [LENGTH], [HEIGHT], [MAXWEIGHT], [PRIORITY], [COST]) VALUES (1, N'A', 10, 20, 60, 10, 1, 5)
INSERT [dbo].[PARCELTYPES] ([PARCELTYPE_ID], [NAME], [WIDTH], [LENGTH], [HEIGHT], [MAXWEIGHT], [PRIORITY], [COST]) VALUES (2, N'B', 20, 30, 60, 20, 1, 10)
INSERT [dbo].[PARCELTYPES] ([PARCELTYPE_ID], [NAME], [WIDTH], [LENGTH], [HEIGHT], [MAXWEIGHT], [PRIORITY], [COST]) VALUES (3, N'C', 60, 60, 60, 30, 1, 15)
GO
INSERT [dbo].[STATUSES] ([STATUS_ID], [NAME], [STAGE]) VALUES (1, N'Waits for courier to pick it up', 2)
INSERT [dbo].[STATUSES] ([STATUS_ID], [NAME], [STAGE]) VALUES (2, N'Travels to parcel locker', 2)
INSERT [dbo].[STATUSES] ([STATUS_ID], [NAME], [STAGE]) VALUES (3, N'Travels to initial warehouse', 2)
GO
INSERT [dbo].[USERS] ([USER_ID], [FIRSTNAME], [LASTNAME], [LOGIN], [PASSWORD], [PHONENUMBER], [EMAIL], [USERTYPE]) VALUES (1, N'Przykladowy', N'Menadzer', N'manager', N'manager', 758493857, N'manager@poczta.pl', N'Manager')
INSERT [dbo].[USERS] ([USER_ID], [FIRSTNAME], [LASTNAME], [LOGIN], [PASSWORD], [PHONENUMBER], [EMAIL], [USERTYPE]) VALUES (2, N'Przykladowy', N'Klient', N'client', N'client', 253647285, N'client@poczta.pl', N'Client')
INSERT [dbo].[USERS] ([USER_ID], [FIRSTNAME], [LASTNAME], [LOGIN], [PASSWORD], [PHONENUMBER], [EMAIL], [USERTYPE]) VALUES (3, N'Przykladowy', N'Kurier', N'courier', N'courier', 967483894, N'courier@poczta.pl', N'Courier')
GO
INSERT [dbo].[WAREHOUSES] ([WAREHOUSE_ID], [LOCATIONID], [NAME]) VALUES (1, 1, N'Wroclaw1')
INSERT [dbo].[WAREHOUSES] ([WAREHOUSE_ID], [LOCATIONID], [NAME]) VALUES (2, 3, N'Warszawa1')
GO
ALTER TABLE [dbo].[PARCELLOCKERS]  WITH CHECK ADD  CONSTRAINT [PARCELLOCKERS_FK1] FOREIGN KEY([LOCATIONID])
REFERENCES [dbo].[LOCATIONS] ([LOCATION_ID])
GO
ALTER TABLE [dbo].[PARCELLOCKERS] CHECK CONSTRAINT [PARCELLOCKERS_FK1]
GO
ALTER TABLE [dbo].[PARCELLOCKERS]  WITH CHECK ADD  CONSTRAINT [PARCELLOCKERS_FK2] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[PARCELLOCKERTYPES] ([PARCELLOCKERTYPE_ID])
GO
ALTER TABLE [dbo].[PARCELLOCKERS] CHECK CONSTRAINT [PARCELLOCKERS_FK2]
GO
ALTER TABLE [dbo].[PARCELS]  WITH CHECK ADD  CONSTRAINT [PARCELS_FK1] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[PARCELTYPES] ([PARCELTYPE_ID])
GO
ALTER TABLE [dbo].[PARCELS] CHECK CONSTRAINT [PARCELS_FK1]
GO
ALTER TABLE [dbo].[PARCELS]  WITH CHECK ADD  CONSTRAINT [PARCELS_FK2] FOREIGN KEY([COURIERID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[PARCELS] CHECK CONSTRAINT [PARCELS_FK2]
GO
ALTER TABLE [dbo].[PARCELS]  WITH CHECK ADD  CONSTRAINT [PARCELS_FK4] FOREIGN KEY([SENDERID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[PARCELS] CHECK CONSTRAINT [PARCELS_FK4]
GO
ALTER TABLE [dbo].[PARCELS]  WITH CHECK ADD  CONSTRAINT [PARCELS_FK5] FOREIGN KEY([PARCELLOCKERID])
REFERENCES [dbo].[PARCELLOCKERS] ([PARCELLOCKER_ID])
GO
ALTER TABLE [dbo].[PARCELS] CHECK CONSTRAINT [PARCELS_FK5]
GO
ALTER TABLE [dbo].[PARCELS]  WITH CHECK ADD  CONSTRAINT [PARCELS_FK6] FOREIGN KEY([DESTINATIONPARCELLOCKERID])
REFERENCES [dbo].[PARCELLOCKERS] ([PARCELLOCKER_ID])
GO
ALTER TABLE [dbo].[PARCELS] CHECK CONSTRAINT [PARCELS_FK6]
GO
ALTER TABLE [dbo].[PARCELS]  WITH CHECK ADD  CONSTRAINT [PARCELS_FK7] FOREIGN KEY([WAREHOUSEID])
REFERENCES [dbo].[WAREHOUSES] ([WAREHOUSE_ID])
GO
ALTER TABLE [dbo].[PARCELS] CHECK CONSTRAINT [PARCELS_FK7]
GO
ALTER TABLE [dbo].[PARCELS]  WITH CHECK ADD  CONSTRAINT [PARCELS_FK8] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[STATUSES] ([STATUS_ID])
GO
ALTER TABLE [dbo].[PARCELS] CHECK CONSTRAINT [PARCELS_FK8]
GO
ALTER TABLE [dbo].[WAREHOUSES]  WITH CHECK ADD  CONSTRAINT [WAREHOUSES_FK1] FOREIGN KEY([LOCATIONID])
REFERENCES [dbo].[LOCATIONS] ([LOCATION_ID])
GO
ALTER TABLE [dbo].[WAREHOUSES] CHECK CONSTRAINT [WAREHOUSES_FK1]
GO
USE [master]
GO
